html {color: #ffffff;
    background-color: #3ab781;
    margin-left: 125px;
    margin-right: 125px
}

details summary {
    list-style: none;

  }
details > summary::-webkit-details-marker {
    display: none;
  }
  summary::after {
    content: '';
  }
  details[open] summary:after {
    content: '';
  }
  
img {

        margin: 50px, 50px;
        width:"500";
        height:"500";
        overflow: hidden;
        transform: scale(1)
        text-align-center;
    }

div {
    text-align:center;
    font-size: 25px;
  }
