html {color: #ffffff;
    background-color: #3ab781;
    margin-left: 25%;
    margin-right: 25%
    
}
div {
  cursor: pointer;
  font-size: 25px;
}

details summary {
    list-style: none;

    cursor: pointer;
  }
details > summary::-webkit-details-marker {
    display: none;
  }
  summary::after {
    content: '';
  }
  details[open] summary:after {
    content: '';
  }
  
img {
  width: 100%;
  transition: 5s;
    }
